html 
    head 
        style 
            include ../public/stylesheets/callback.css
    body 
        div(class="container")
            div(id="loading")
                div(class="spinner")
                p Loading...
        script(type="text/javascript")
            include ../public/javascript/callback.js
        div(id="main-title")
        div(id="main-content")
            div(id="main-content__user-info")
            div(id="main-content__top-artists")
            div(id="main-content__top-tracks")
            div(id="main-content__photo-collage")
                h3 Top Tracks (7 Days)
                div(id="main-collage")
                    div(class="row")
                        div(class="pic")

