@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #f8f8f8;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #1d1d1d;
}

#main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.main-title__title{
    margin-right: 20px;
}

.main-title__title::first-letter{
    text-transform: capitalize;
}

#main-title img{
    border-radius: 50%;
}

#main-content{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main-content__user-info, #main-content__top-artists,  #main-content__top-tracks, #main-content__photo-collage{
  width: 25%;
  margin: 10px;
}

#main-content__photo-collage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

#main-collage {
  width: 50%;
  margin-top: 10px;
}

.pic img{
  width: 55px;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}


#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
}
  
.spinner {
  border: 8px solid white;
  border-left-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
  
.spinner p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #888;
}
